# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [38]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [39]:
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [48]:
# Convert the date column format from string to datetime
for idx, row in df.iterrows():
    row['datetime'] = dt.strptime(row['date'], '%Y-%m-%d')

In [49]:
df.dtypes

station             object
date                object
prcp               float64
tobs                 int64
datetime    datetime64[ns]
dtype: object

In [50]:
# Set the date column as the DataFrame index
df.set_index('datetime')

                station        date  prcp  tobs
datetime
2010-01-01  USC00519397  2010-01-01  0.08    65
2010-01-02  USC00519397  2010-01-02  0.00    63
2010-01-03  USC00519397  2010-01-03  0.00    74
2010-01-04  USC00519397  2010-01-04  0.00    76
2010-01-06  USC00519397  2010-01-06   NaN    73
...                 ...         ...   ...   ...
2017-08-19  USC00516128  2017-08-19  0.09    71
2017-08-20  USC00516128  2017-08-20   NaN    78
2017-08-21  USC00516128  2017-08-21  0.56    76
2017-08-22  USC00516128  2017-08-22  0.50    76
2017-08-23  USC00516128  2017-08-23  0.45    76

[19550 rows x 4 columns]

In [51]:
# Drop the date column
df.drop(columns=['date'])

           station  prcp  tobs   datetime
0      USC00519397  0.08    65 2010-01-01
1      USC00519397  0.00    63 2010-01-02
2      USC00519397  0.00    74 2010-01-03
3      USC00519397  0.00    76 2010-01-04
4      USC00519397   NaN    73 2010-01-06
...            ...   ...   ...        ...
19545  USC00516128  0.09    71 2017-08-19
19546  USC00516128   NaN    78 2017-08-20
19547  USC00516128  0.56    76 2017-08-21
19548  USC00516128  0.50    76 2017-08-22
19549  USC00516128  0.45    76 2017-08-23

[19550 rows x 4 columns]

### Compare June and December data across all years

In [52]:
from scipy import stats

In [61]:
# Filter data for desired months
june = []
dec = []
for idx, row in df.iterrows():
    june.append(row['datetime'].month==6)
    dec.append(row['datetime'].month==12)

In [65]:
# Identify the average temperature for June
ave_temp = df[june]['tobs'].mean() 
ave_temp

74.94411764705882

In [66]:
# Identify the average temperature for December
ave_temp_dec = df[dec]['tobs'].mean() 
ave_temp_dec

71.04152933421226

In [67]:
# Create collections of temperature data
june_temp = df[june]['tobs']
dec_temp = df[dec]['tobs']

In [69]:
# Run paired t-test
stats.ttest_ind(june_temp, dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [ ]:
'''
The t-test show that, the t-score is approximately 31.6.
There's significant different in temperature of June and temperature of December.
'''

### Analysis